{{#each this}}
<li>
    <h2 class="article__title">Заголовок: {{title}}</h2>
    <p class="article__text">Статья: {{article}}</p>
    <p class="article__date">Дата: {{date}}</p>
    {{#each comments}}
    <p class="article__comment">Коментарий: {{this.comment}}</p>
    {{/each}}
    <p class="article__category">Категория: {{category}}</p>
</li>
{{/each}}
{{!-- {
title: '123',
article:
'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, asperiores optio obcaecati illum nobis aspernatur,
suscipit numquam odio quaerat aperiam magni! Aut laboriosam tempore quis placeat esse non impedi aspernatur!',
date: '321',
comments: [{ comment: 'coment' }, { comment: 'coment' }],
category: 'politics',
}, --}}